<% include header %>

  <div class="col-sm-2 col-sm-offset-5" style="padding-top: 50px;">
    <a href="login" type="button" class="btn btn-primary btn-lg btn-block">Login</a>
    <a href="register" type="button" class="btn btn-default btn-lg btn-block">Sign up</a>
  </div>

<% include footer %>

