html, body {
    width: 100%;
    height: 100%;
}
.pd-2 {
    padding: 20px;
}

.mb-2 {
    margin-bottom: 20px;
}

#tools {
    position: fixed;
    top: 60px;
    left:0;
    z-index: 100;
}

#mirrorNode {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-color: white;
    border: 2px solid #333333;
    border-radius: 12px;
    text-align: center;
}

.edit-sidebar {
    position: fixed;
    top: 51px;
    right: 0;
    z-index: 101;
    background-color: white;
    min-height: 100%;
}

#diagram {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 51px);
}
#diagram svg {
    height: 100%;
    width: 100%;
}

#slider-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f8f8f8;
    border-top: 1px solid;
    border-color: #e7e7e7;
}

#input-slider {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 18px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: #f7f7f7;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CAD4D9;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #990000;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #990000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CAD4D9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #CAD4D9;
  border-radius: 1px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #990000;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #990000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #990000;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #CAD4D9;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #990000;
  height: 15px;
  width: 15px;
  border-radius: 8px;
  background: #990000;
  cursor: pointer;
}

@media (min-width: 768px) { 
    #diagrams {
        min-width: 500px;
    }

    #import {
        min-width: 250px;
    }

    .right {
        float: right;
    }
}